body{
/*background-image:url(../img/fundo.jpg);
background-attachment:fixed;
background-repeat:no-repeat;*/
color:#000000;

}

footer{
border-radius:15px 15px 0 0/15px 15px 0 0;
background-color:#862e9e ;


}

.po{
	padding:20px;
}
/*	
background-image:url(../img/ibagems.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
	background-color:#f5f5f5;
	padding:20px;
	
}*/
header{
background-color:#862e9e;
border-radius: 0 0 15px 15px / 0 0 15px 15px;
}

/*
.container h5{
    font-family: Andale Mono, monospace;
    font-size: 40px;
    
    
}
.container h2{
    
    font-family: Andale Mono, monospace;
    font-size: 20px;
     margin-left: 10px;
     font-weight: bold;
     margin-bottom:20px;
     color:#cc9227;
     
     
}
.container p{
   font-family: Andale Mono, monospace;
    font-size: 16px;
     margin-left: 10px; 
    margin-top:20px;
    
}
 .r li{
    width: 200px;
    height: 60px;
    margin: 0;
    float: left;
    overflow: hidden;
    margin-left: 10px;
     font-weight: bold;
     margin-top:10px;
}

.container h1{
     font-family: Andale Mono, monospace;  
     font-size: 400px;
}
.container li{
    font-family: Andale Mono, monospace;  
    
}
.container ul li p{
    
   font-family: Andale Mono, monospace;
    font-size: 16px;
     margin-left: 10px; 
   margin-bottom:20px; 
}
*/