h1, h4, h5, p{
    font-family: Muli;
}



body{
background-image: url(./../Robokernel/img/fundo.jpg);
background-color: #8c8c8c;
background-image: linear-gradient(to right,#333 , #8c8c8c, #333);

}

.container{
    padding: 0;
}

.navbar-inverse{
    padding: 0px;
}


.logo img{
    position: relative;
    top: 25px;
    width: 200px;
}

.loja-fisica, .cetral-atendimento, .horario-funcionamento{
    margin: 20px auto;
    padding: 0;
    color: #fff;
}


.input-group{
    width: 80%;
    float: left;
    height: 35px;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    margin: 10px 0;

}

.barra-pesquisa{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.barra-pesquisa .loja{
    color: #fff;
    margin-left: 10px;
}

.pesquisar{
    float: left;
    height: 35px;
    padding: 0 25px;
    border-radius: 0 25px 25px 0;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.pesquisar i{
    font-size: 15px;
    text-align: center
}

.pesquisar:hover{
    background-color:yellow;
}

.header p{
    font-family: Muli;
    font-weight: bold;
    
}

.carrinho  i{
   
    margin: 10px 0;
    height: 30px;
    width: 50px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    float: left;
}

.item-carrinho{
    width: 20px;
    background-color: red;
    color: #fff;
    float: left;
    position: relative;
    top: 25px;
    right: 18px;
    text-align: center;
    border-radius: 50px;
}

.novidades-index{
    height: 270px;
    border-radius: 7px;
    margin:0 15px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.thumbnail{
    border: none;
}

.descricao h5{
    height: 40px;
    text-align: left;
}

.descricao p{
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.descricao h4{
    height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: gold;
    border-radius: 30px;
    padding: 5px;

}

.prod-novidades{
    width: 100%;
    background-color: #fff;
}

.prod-maisvendido{
    width: 100%;
    background-color: #fff;
}

.mais-vendidos{
    height: 270px;
    border-radius: 7px;
    margin: 0 15px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.lateral a{
    color: black;
    text-decoration: none;
}

.lateral li{
    font-family: Muli;
    background-color:rgba(0, 0, 0, 0.3);
    color: #fff;
}

.lateral li:hover{
    background-color: yellow;
    color: black;
}