.novidades{
    height: 320px;
    border-radius: 7px;
    margin: 0 15px;
    border: 1px solid lightgray;
    background-color: #fff;
    width: 21%;
    margin-bottom: 17px;
}


.lateral a{
    color: black;
    text-decoration: none;
}

.lateral li{
    font-family: Muli;
    background-color:rgba(0, 0, 0, 0.3);
    color: #fff;
}

.lateral li:hover{
    background-color: yellow;
    color: black;
}
