#top-nav{
    border-radius: 7px;
    background-color: rgba(0,0,0,0.3);
}

#logo{
    height: 150px;
    
}

#logo img{
    position: relative;
    top: 50px;
    left: 50px;
    width: 250px;
}

#logo p{
    position: relative;
    top: 40px;
}

#search{
    background-color: rgba(0,0,0,0.3);
    border-radius: 7px;
    height: 40px;
}

.input-group{
    position: relative;
    top: 5px;
    border-radius: 4px;
}

