
@charset "utf-8";
/* CSS Document */

.fundo-login{
	width: 320px;
	height: 420px;
	background-color:lightgrey;
	color: #fff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 10px 30px;
	border-radius: 7px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	background-color: #fff;

}

.logh1{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 35px;
}

.fundo-login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.fundo-login input{
	width: 100%;
	margin-bottom: 5px;
}

.fundo-login input[type="email"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.form-group .btn-success{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
}

.form-group .btn-danger{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
}