
@charset "utf-8";
/* CSS Document */

.login{
	text-align:center;
	background-color: aqua;
}
form{
	width:450px;
	margin:auto;
	background: rgba(0,0,0,0.4);
	padding:10px 28px;
	box-sizing: border-box;
	margin-top:20px;
	border-radius:7px;
}

input {
	width:100%;
	margin-bottom: 20px;
	padding:7px;
	box-sizing:border-box;
	font-size:17px;
	border:none;
}



