.navbar-inverse {
    background-color: blue;
    border-color: blue;
	color:red;
}
#myNavbar{
    background-color: blue;
    border-color: blue;
	color:red;
}
#myNavbar:hover{
  
	color:white;
}