
<div class="container" id="top-nav">
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul> 
</div>

<div class="container" id="logo">
    <div class="row">
        <div class="col-sm-4 col-xs-4 hidden">
            <img src="../assets/img/logo1.png" alt="">
        </div>
        <div class="col-sm-4">
            <p>LOJA FÍSICA <br>
            R. Santa Luzia, 735 - Sala 504 <br>
            20030-041 - Centro, Rio de Janeiro - RJ</p>
        </div>
        <div class="col-sm-4" >
            <p>HORÁRIO DE FUNCIONAMENTO <br>
            De segunda à sexta das 9:00 às 18:30</p>
        </div>
    </div>
</div>

<div class="container mt-1" id="search">
  <div class="row">
    <div class="col-sm-3">
      <h3 class="loja"><i>LOJAVIRTUAL</i> <a href="#" style="font-size: 17px">/Home</a></h3>
    </div>
    <div class="col-sm-7">
      <input class="input-group" type="input" placeholder="Digite aqui o que você procura...">
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>    
</div>

<div class="container mt-1">
  <div class="row">
      <div class="col-sm-3" >
        <ul class="list-group">
          <li class="list-group-item">Novidades</li>
          <li class="list-group-item">Originais RoboKernel</li>
          <li class="list-group-item">Kits Didáticos</li>
          <li class="list-group-item">Placas Arduinos</li>
          <li class="list-group-item">Shields para Arduino</li>
          <li class="list-group-item">Automação Resid.</li>
          <li class="list-group-item">Embarcados</li>
          <li class="list-group-item">Internet das coisas</li>
          <li class="list-group-item">Cabos e Conectores</li>
          <li class="list-group-item">Caixa de Redução</li>
          <li class="list-group-item">Displays e LCDs</li>
          <li class="list-group-item">Drivers de Motores</li>
          <li class="list-group-item">Ferramentas</li>
          <li class="list-group-item">Fontes e Baterias</li>
          <li class="list-group-item">Itens Eletrônicos</li>
          <li class="list-group-item">Itens Mecanico</li>
          <li class="list-group-item">Livros</li>
          <li class="list-group-item">Motores</li>
          <li class="list-group-item">Movimento Maker</li>
          <li class="list-group-item">Parafusos e Porcas</li>
          <li class="list-group-item">Protoboards</li>
          <li class="list-group-item">Rodas</li>
          <li class="list-group-item">Sensores</li>
          <li class="list-group-item">Servos & R/C</li>
          <li class="list-group-item">Wireless</li>
        </ul>
      </div>
      <div class="col-sm-9" style="padding:0px;"> 
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/img/robotica.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/img/robotica1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/img/robotica2.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div><br><br>

            <span>Novidades</span>

      <div class="container mt-3">
        <div class="row">
            <div class="card" style="width: 13rem; padding: 0px;">
                <img src="../assets/img/1084_1_H.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Motor com Caixa de Redução 12V 2000RPM</h5>
                  <a href="#" class="btn btn-primary ">R$ 129,00</a>
                </div>
              </div>

              <div class="card" style="width: 13rem; padding: 0px;">
                  <img src="../assets/img/1141_1_H.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">HUB para Roda NEO - eixo de 6mm</h5>
                    <a href="#" class="btn btn-primary">R$ 16,50</a>
                  </div>
                </div>

                <div class="card" style="width: 13rem; padding: 0px;">
                    <img src="../assets/img/1146_1_H.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <a href="#" class="btn btn-primary">R$ 00,00</a>
                    </div>
                  </div>

                  <div class="card" style="width: 13rem; padding: 0px;">
                      <img src="../assets/img/1148_1_H.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Multímetro Digital Hikari HM-1001</h5>
                       <a href="#" class="btn btn-primary">R$ 39,90</a>
                      </div>
                    </div>
        </div>
      </div>
      
      </div>
        

  </div>
</div>