*{
    margin: 0;
    padding: 0;
}


/*******************************************/

.corpo{
    width: 80%;
    margin: 0 auto;
    background-color:lightgray;
}

/*******************************************/

.nav {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    float: left;
    height: 40px;
    margin-bottom: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#navtop{
    margin: 0;
    padding: 0;
}

.item-top{
    display: inline-block;
    width: 80px;
    height: 40px;
    float: left;
    padding: 0px 9px;
}

.link-item{
    text-decoration: none;
    color: #fff;
}

.link-item:hover{
    background-color: aqua;
    
}

.log{
    float: right;
    display: inline-block;
    width: 80px;
    height: 40px;
    padding: 0px 9px;
}

/********************************************/


.logo {
    background-color: lightgray;
    width: 100%;
    float: left;
    height: 140px;
    margin-bottom: 10px;  
}

.logo-img{
    width: 35%;
    float: left;
    height: 140px;
}

.logo-img img{
    width: 300px;
    position: relative;
    top: 35px;
    left: 20px;
}

.endereco{
    background-color: lightgray;
    height: 140px;
    width: 35%;
    float: left;
}

.endereco p{
    position: relative;
    top: 35px;
    left: 35px;
    width: 260px;
}

.atendimento {
    background-color: lightgray;
    height: 140px;
    float: left;
    width: 30%;
}

.atendimento p{
    position: relative;
    top: 35px;
    left: 30px;
    width: 250px;
}

/*************************************************/

.search{
    background-color:rgba(0,0,0,0.3) ;
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.search .loja{
    width: 30%;
    margin-left: 15px;
    padding: 1px;
    float: left;
    font-size: 25px;
    position: relative;
    top: 5px;
}

.search a{
    text-decoration:none;
    color: #fff
}

.search-product{
    float: left;
    width: 50%;
    padding: 1px;
    position: relative;
    top: 5px;
}

.pesquisar{
    width: 100%;
    height: 25px;
    padding: 3px;
}

.shopping{
    float: left;
    margin-left: 25px;
    padding: 1px;
    width: 15%;
    position: relative;
    top: 5px;
    height: 25px;
}

.fas fa-shopping-cart{
    background-color: aqua;
}

/************************************************/

.sidnav {
    background-color: rgba(0,0,0,0.3);
    width: 20%;
    float: left;
    position: relative;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#navlateral{
    margin: 0;
    padding: 0;
    width: 200px;
}

.menu-lateral{
    list-style: none;
    font-size: 18px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #bfbfbf;
    text-shadow: 1px 1px 1px black
}

.menu-lateral a{
    display: block;
    text-decoration: none;
    color: #fff;
}

/********************************************/

.content {
    background-color: #fff;
    height: auto;
    width: 77%;
    float: left;
    position: relative;
    border-radius: 7px;
    padding: 10px;
}

.box-pricipal{
    background-color: aqua;
    width: 100%;
    height: 370px;
}


.box-secundario{
    background-color: aquamarine;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

#list-content{
    padding: 0;
    margin: 13px 0;
    height: 260px;
    width: 100%;
}

li.grid{
    width: 150px;
    height: 255px;
    display: inline-block;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

li.grid img{
    border: 1px solid black;
    width: 115px;
    float: left;
    position: relative;
    top: 15px;
    left: 10px;
}

.nome-produto{
    float: left;
    background-color:aqua;
    position: relative;
    top: 25px;
    left: 10px;
    font-size: 18px;
}

.preco-produto {
    float: left;
    position: relative;
    top: 70px;
    background-color: aquamarine;
    left: 5px;
    padding: 5px;
    border-radius: 7px;
    font-size: 18px;
    
}

/*****************************************/


.footer {
    background-color: gray;
    clear: both;
    height: 150px;
    width: 100%;
}
